@font-face {
    font-family: 'intro_boldregular';
    src: url('fonts/intro-bold-webfont.eot');
    src: url('fonts/intro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/intro-bold-webfont.woff2') format('woff2'),
         url('fonts/intro-bold-webfont.woff') format('woff'),
         url('fonts/intro-bold-webfont.ttf') format('truetype'),
         url('fonts/intro-bold-webfont.svg#intro_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
		font-family:intro_boldregular;
}

/* Шапка ЛП */

header {
	height:80px;	
	background-color:#212020;
	overflow:hidden;
}


#head_main{
	display:block;
	max-width:850px;
	margin:20px auto;
}

header .logo{
	display:block;
	float:left;
	height:auto;
}

header .logo img{
	height:38px;
}

header .title_text{
	padding-left:90px;
	margin-top:-10px;
	float:left;
	display:block;
	max-width:415px;
	text-align:center;
	color:#FFFFFF;
	font-size:16px;
	font-style:bold;
	//margin-top:5px;
}

header .graf{
	margin-top:-8px;
	float:left;
	display:block;
	margin-left:90px;

}

/* Монитор и форма */

#container_m_f{
	height:330px;
}

#monitor_forma{
	overflow:hidden;
	max-width:660px;
	margin:35px auto;
}

.monitor{
	float:left;
}



.forma{
	margin-left:350px;
	height:260px;
	width:310px;
	background-color:#DCDDDF;
}

.text1{
	padding-top:20px;
	text-align:center;
	font-size:16px;
}

.text1 span{
	text-decoration:line-through;
}

.text2{
	padding-top:15px;
	text-align:center;
	font-size:23px;
	color:#FF0000;
}

.btn{
	width:275px;
	height:53px;
	
	margin-left:18px;
	margin-top:15px;
	background-size:100%;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='images/btn.png', sizingMethod='scale');
	background-image:url(../images/btn.png);
	behavior: url("PIE.htc");
}
.btn:hover{
	background-image:url(../images/btn_hover.png);
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='images/btn_hover.png', sizingMethod='scale');
	cursor:pointer;
}

.btn:active{
	background-image:url(../images/btn.png);
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='images/btn.png', sizingMethod='scale');
	cursor:pointer;
}

.btn span{
	display:block;
	padding-left:36px;
	width:305px;
	font-size:14px;
	padding-top:21px;
}

.text3{
	padding-top:10px;
	text-align:center;
	font-size:14px;
}


/* ТАЙМЕР */

#ie_timer{
	display:none;
	position:absolute;
}
/* .timer{
	width:220px;
	height:60px;
	background-color:grey;
	margin-left:45px;
} */

.timer{
	margin-left:47px;
}

.etitle{
	font-size:10px;
}

.etitle-1{
	padding-left:30px;
}

.etitle-2{
	padding-left:15px;
}

.etitle-3{
	padding-left:15px;
}

.etitle-4{
	padding-left:12px;
}

.c-block{
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0 18px 0 3px;
	padding: 4px 0 40px 3px;
	position: relative;
	background: transparent url(../images/sprites.png) no-repeat -260px 0;
}

.c-block:before{
	content: '';
	position: absolute;
	left: 100%;
	top: 0;
	width: 31px;
	background: transparent url(../images/sprites.png) no-repeat 100% -77px;
	height: 77px;
}

.bl-inner{
	position: relative;
	margin-right: -10px;
	height: 48px;
	background: transparent url(../images/sprites.png) no-repeat -5px -48px;
}

.bl-inner span{
	display: none;
	font-size: 46px;
	color: #fff;
	line-height: 46px;
	margin-left: 2px;
}

.bl-inner:before{
	content: '';
	position: absolute;
	left: 100%;
	top: 0;
	width: 3px;
	background: transparent url(../images/sprites.png) no-repeat -122px -48px;
	height: 48px;
}

.c-block-1{width: 20px;}
.c-block-2{width: 45px;}
.c-block-3{width: 70px; display:none;}



/* Форма отправки */
#zayavka{
	display:none;
	position:absolute;
	height:200px;
	width:250px;
	border:1px solid;
	left:40%;
	top:10%;
	background-color:#DCDDDF;
}

.main_form{
	margin:10px;
}


.client{
	margin-top:10px;
	width:225px;
	height:30px;
	display:block;
}

#submit_form{
	font-size:14px;
	margin-top:10px;
    width: 100px;
    -webkit-transition: all .2s;
    background: #333;
    line-height: 30px;
    text-align: center;
    color:  #e3e3e3;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.5),
        1px 1px 5px rgba(0,0,0,.3);
    cursor: pointer;
	float:right;
}

#submit_form:hover{
    background: #535353;
}

#submit_form:active{
	background: #333;
}

/* Полоса посередине */

#middle_line{
	min-height:70px;
	background-color:#212020;
	overflow:hidden;
	display:block;
}

#pictures{
	display:block;
	max-width:780px;
	margin:0 auto;
}

.first_group_pic{
	display:block;
	float:left;
}
.pic1{
	padding-left:50px;
	padding-top:13px;
	float:left;
	
}

.pic1 img{
	display:block;
	width:35px;
	height:27px;
	padding-left:25px;
}

.pic1 p{
	display:block;
	margin:0;
	margin-top:5px;
	color:#FFF;
}

.pic2{
	float:left;
	padding-left:70px;
	padding-top:10px;
}

.pic2 p{
	display:block;
	margin:0;
	margin-top:5px;
	color:#FFF;
}

.pic2 img{
	display:block;
	width:35px;
	height:30px;
	padding-left:65px;
}
.pic3{
	float:left;
	padding-left:70px;
	padding-top:10px;
}

.pic3 img{
	display:block;
	width:20px;
	height:30px;
	padding-left:45px;
}

.pic3 p{
	display:block;
	margin:0;
	margin-top:5px;
	color:#FFF;
}

.pic4{
	float:left;
	padding-left:70px;
	padding-top:10px;
}

.pic4 img{
	display:block;
	width:35px;
	height:31px;
	padding-left:55px;
}

.pic4 p{
	display:inline-block;
	margin:0;
	margin-top:5px;
	color:#FFF;
}



.second_group_pic{
	display:block;
	float:left;
}





/* Второй контейнер */

#second_conteiner{
	height:600px;
	overflow:hidden;
	padding-bottom:40px;
}

#centr{
	width:800px;
	margin:0 auto;
}

#centr .main_graf{
	width:790px;

}

#centr p{
	display:block;
	font-size:25px;
	text-align:center;
	color:#FF0000;
	width:650px;
	margin:50px auto 20px auto;
}

.strelka{
	height:50px;
	margin-left:610px;
	margin-top:-50px
}













/* Подвал */

#footer{
	min-height:110px;
	background-color:#212020;
	overflow:hidden;
	display:block;
}


#main_footer{
	margin:0 auto;
	width:790px;
	color:#FFF;
}

.top_text{
	text-align:center;
}

.first_text{
	float:left;
	font-size:10px;
}

.btn_footer{
	width:275px;
	height:53px;
	margin:-10px 60px 0 60px;
	background-size:100%;
	background-image:url(../images/btn.png);
	float:left;
}

.btn_footer:hover{
	background-image:url(../images/btn_hover.png);
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='images/btn_hover.png', sizingMethod='scale');
	cursor:pointer;
}

.btn_footer:active{
	background-image:url(../images/btn.png);
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='images/btn.png', sizingMethod='scale');
	cursor:pointer;
}

.btn_footer span{
	color:black;
	display:block;
	padding-left:40px;
	width:305px;
	font-size:16px;
	padding-top:20px;
}

.second_text{
	float:left;	
	font-size:10px;
	margin-bottom:0;
}

.third_text{
	float:left;
	font-size:10px;
	padding:0;
	margin:0;
	
}

.third_text a{
	color:#fff;
	font-size:14px;
}

.first_text a{
	color:#fff;
}












/* Натсройка адаптации */

@media screen and (max-width:820px), handheld and (max-width:820px){
	.head_right_side{display:block; margin:0 auto; max-width:600px;}
	header .title_text{padding-left:10px;}
	header .graf{display:none;}
	
	
}
@media screen and (max-width:800px), handheld and (max-width:800px){
	#centr .main_graf{width:590px; display:block; margin:0 auto;}
	#centr{width:600px;}
	.strelka{display:none;}
	#second_conteiner{padding:0px;height:500px;}
}

@media screen and (max-width:780px), handheld and (max-width:780px){
	.pic1{padding-left:60px;}
	.pic3{padding-left:50px;}
	.pic4{float:none; margin-left:155px;}
	.second_group_pic{width:380px;}
	#pictures{width:400px}
	
	/* подвал */
	#main_footer{width:300px;}
	.top_text{float:none;}
	.first_text{float:none; text-align:center;}
	.btn_footer{float:none; margin-left:auto; margin-right:auto;}
	.second_text{float:none; text-align:center;}
	.third_text{float:none; text-align:center;}
}

@media screen and (max-width:650px), handheld and (max-width:650px){
	.monitor{display:none;}
	.forma{margin:0 auto;}
	#monitor_forma{width:auto;}
}

@media screen and (max-width:600px), handheld and (max-width:600px){
	#centr .main_graf{width:490px;}
	#centr p{display:block; margin:50px 0 20px 0; padding:0;width:500px;}
	#centr{width:300px; margin:0 0 0 40px;}
	#second_conteiner{height:470px;}
}

@media screen and (max-width:540px), handheld and (max-width:540px){
	header .logo{float:none; margin:0 auto; width:111px;}
	header .title_text{float:none; margin:0 auto;}
	header{display:block; height:auto;}
	#zayavka{left:0;}
}

@media screen and (max-width:530px), handheld and (max-width:530px){
	#centr .main_graf{width:350px ;margin:0 auto 0 auto;}
	#centr p{width:350px;}
	#centr{margin:0 0 0 65px;}
	#second_conteiner{height:400px;}
}

@media screen and (max-width:430px), handheld and (max-width:430px){
	.pic1{float:none; padding-left:30px;}
	.pic2 img{padding-left:55px;}
	.pic2 p {margin:0;}
	.pic2{margin:0; padding:0;}
	.pic3{float:none;padding:0; padding-left:20px;}
	.pic4{margin:0; padding:0; padding-left:5px;}
	#pictures{width:150px}
	#centr .main_graf{width:300px ;}
	#centr p{width:300px;}
	#centr{margin:0 0 0 35px;}
	
}

@media screen and (max-width:340px), handheld and (max-width:340px){
	#centr .main_graf{width:250px ;margin-left:0px;}
	#centr p{width:250px;}
	#centr{margin:0 0 0 35px;}
}

@media screen and (max-width:315px), handheld and (max-width:315px){
	.forma{width:300px;}
	.btn{margin-left:15px;}
	.timer{margin-left:40px;}
	#centr .main_graf{width:200px ; margin-left:50px;}
	#centr p{width:200px; margin-left:50px;}
	#centr{margin-left:0;}
}

